:root {
    /* Dimensions */
    --header-width: 100vw;
    --header-height: 70px;
}

@media screen and (orientation: landscape) {
    header {
        position: fixed;
        left: 0;
        height: 50px;
        width: calc(100vw - 115.5px);
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 51.5px;
        padding-right: 64px;
    
        display: flex;
        align-items: center;
    }

    header > a > legend { 
        font-size: 18px;
        height: 25px;
        margin-top: 18px;
        margin-bottom: 7px;
    }
    
    button {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    
    button:hover {
        background-color: hsl(220, 10%, 15%);
    }
    
    #Navigation {
        height: 100%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        cursor: pointer;
    }

    #Recette {
        height: 100%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
    }
    
    svg {
        width: 25px;
        height: 25px;
        margin: 12.5px;
    }
    
    img {
        width: 35px;
        height: 35px;
        margin: calc((50px - 35px) / 2);
    }
    
    
    #Search {
        background-color: hsl(220, 10%, 15%);
        color: inherit;
        cursor: text;
    
        width: 300px;
        height: 40px;
        margin: 5px 5px 5px auto;
    
        border-radius: 1.25rem;
        border-radius: 9999px;
    }
    
    svg[title="Lens"] {
        position: relative;
        top: -40px;
        min-width: 25px;
        min-height: 25px;
        margin: 7.5px 12.5px;
    }
    
    input[title="Search"] {
        padding-left: 50px;
        padding-right: 50px;
        background: none;
        width: calc(200px - 2px);
        border-radius: inherit;
        height: calc(40px - 2px);
        z-index: 1;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
    }
    
    input[title="Search"]::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: white;
    }

    #Open_Profile, #Close_Profile {
        background-color: hsl(220, 10%, 15%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    #Close_Profile {
        display: none;
    }

    #Open_Profile > svg, #Close_Profile > svg {
        margin: 7.5px;
    }
}