@media screen and (orientation: landscape) {
    main {
        width: var(--vw);
        height: 100vh;
    }

    #Main {
        margin-top: 60px;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #Main > article {
        height: calc(100% - 1rem);
        display: flex;
        max-height: calc(100vh - 60px - 1rem);
        overflow-y: auto;
        padding: 5px;
        scrollbar-color: var(--accent) var(--background-secondary);
        scrollbar-width: thin;
    }

    div[id="Main"][title="Favourites"] > article[id="List"] {
        width: calc(100vw - 10px - 1rem);
        max-height: calc(100vh - 60px - 1rem);
        margin: 0px;
    }

    div[id="Main"][title="Favourites"] > #List {
        margin: 0 0.5rem 1rem 0.5rem;
    }

    #Main > article::-webkit-scrollbar {
        width: calc(1rem / 3);
        -webkit-border-radius: calc(1rem / 3);
        border-radius: calc(1rem / 3);
    }

    #Main > article::-webkit-scrollbar-button {
        display: none;
    }

    #Main > article::-webkit-scrollbar-track-piece {
        background-color: var(--buttons);
    }

    #Main > article::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        -webkit-border-radius: calc(1rem / 8);
        border-radius: calc(1rem / 8);
    }

    #Aliment > a {
        background-color: var(--background-ternary);
        border-radius: 0.25rem;
    }

    #List > a {
        width: calc((100% - 2 * 5px) / 3);
        height: calc((100vh - 60px - 1rem - 3 * 5px) / 2);
        justify-content: center;
        background-size: cover;
        border-radius: 0.25rem;
    }

    div[id="Main"][title="Favourites"] > #List > a {
        width: calc((100% - 3 * 5px) / 4);
    }

    .List_content {
        background-color: rgba(var(--obfuscate));
        width: 100%;
        height: 100%;
    }

    .List_content:hover {
        background: linear-gradient(to left top, var(--accent), transparent);
    }

    #Aliment {
        background-color: var(--background-secondary);
        border-radius: 4px;
        flex-direction: column;
        gap: 5px;
        margin: 0 0.5rem 1rem 1rem;
    }

    #Aliment > div:first-of-type {
        background-color: var(--background-secondary);
        display: block;
    }

    #Aliment > div,
    #Aliment > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
    }

    #List {
        background-color: var(--background-secondary);
        border-radius: 4px;
        margin: 0 1rem 1rem 0.5rem;
        flex-wrap: wrap;
        gap: 5px; 
    }

    .List_content {
        display: flex;
        flex-direction: column;
    }

    .Top > legend {
        text-align: center;
        padding: 0.25rem;
        width: calc(100% - 30px);
    }

    .Top {
        display: flex;
        flex-direction: row;
    }

    .Bottom {
        display: flex;
        flex-direction: row;
        margin: auto 0 0 0;
        padding: 0.25rem;
    }

    .Bottom ul {
        list-style-type: none;
        width: calc(100% - 50px);
        display: inline;
    }

    .like {
        margin-top: auto;
    }

    .dislike {
        margin-top: auto;
        display: none;
    }

    .index {
        position: relative;
        padding: 5px;
        height: 30px;
        width: 30px;
    }
}