main {
    width: var(--vw);
    height: 100vh;
}

@media screen and (orientation: landscape) {
    div[role="alert"] {
        position: relative;
        top: 60px;

        margin: 4px 8px 16px;
        padding: 16px;
        text-align: center;

        background-color: var(--accent);
        border-radius: 4px;
    }
}