:root {
    /* Dimensions */
    --vw: 100vw;
    --vh: 100vh;
    --header-height: 60px;
    --header-width: 100vw;
    --nav-height: 100vh;
    --nav-width: 320px;

    /* SVG */
    --svg: 25px;
    --svg-margin: 12.5px;

    /* Font Properties */
    --font: 16px;
    --font-color: var(--white);

    /* Colors */
    --black: hsl(0, 0%, 0%);
    --eerie-black: hsl(0, 0%, 10%);
    --jet: hsl(0, 0%, 20%);
    --davy-gray: hsl(0, 0%, 30%);
    --dim-gray: hsl(0, 0%, 40%);
    --gray: hsl(0, 0%, 50%);
    --spanish-gray: hsl(0, 0%, 60%);
    --silver: hsl(0, 0%, 70%);
    --lightgray: hsl(0, 0%, 80%);
    --gainsboro: hsl(0, 0%, 90%);
    --white: hsl(0, 0%, 100%);

    --xiketic: hsl(262, 20%, 10%);
    --raisin-black: hsl(260, 20%, 15%);
    --dark-purple: hsl(260, 20%, 20%);
    --english-violet: hsl(260, 20%, 25%);

    /* Accents */
    --red: hsl(0, 70%, 50%);
    --orange-soda: hsl(10, 100%, 60%);
    --amber-yellow: hsl(45, 100%, 50%);
    --yellow: hsl(60, 100%, 50%);
    --lincoln-green: hsl(120, 100%, 20%);
    --green: hsl(120, 100%, 30%);
    --cyan: hsl(190, 60%, 65%);
    --pacific-blue: hsl(190, 60%, 45%);
    --blue: hsl(240, 70%, 50%);
    --lightblue: hsl(240, 70%, 60%);
    --tyrian-purple: hsl(330, 100%, 25%);
    --purple: hsl(300, 100%, 25%);
    --red-purple: hsl(330, 100%, 40%);
    --pink: hsl(330, 100%, 60%);

    --accent: var(--orange-soda);
    /* Gradient accents */
    --red-gradient: repeating-linear-gradient(90deg, var(--red), var(--orange-soda), var(--red));
    --orange-soda-gradient: repeating-linear-gradient(90deg, var(--orange-soda), var(--amber-yellow), var(--orange-soda));
    --amber-yellow-gradient: repeating-linear-gradient(90deg, var(--amber-yellow), var(--yellow), var(--amber-yellow));
    --lincoln-green-gradient: repeating-linear-gradient(90deg, var(--lincoln-green), var(--green), var(--lincoln-green));
    --pacific-blue-gradient: repeating-linear-gradient(90deg, var(--pacific-blue), var(--cyan), var(--pacific-blue));
    --blue-gradient: repeating-linear-gradient(90deg, var(--blue), var(--lightblue), var(--blue));
    --tyrian-purple-gradient: repeating-linear-gradient(90deg, var(--tyrian-purple), var(--purple), var(--tyrian-purple));
    --red-purple-gradient: repeating-linear-gradient(90deg, var(--red-purple), var(--pink), var(--red-purple));

    --accent-gradient: var(--orange-soda-gradient);
    /* Background Colors */
    --background-primary: var(--xiketic);
    --background-secondary: var(--raisin-black);

    /* Transitions */
    --speed-200ms: 200ms;
    --speed-400ms: 400ms;
    --speed-600ms: 600ms;
}

/* Dark Theme */

.dark {
    --font-color: var(--white);
    --background-primary: var(--eerie-black);
    --background-secondary: var(--jet);
    --background-ternary: var(--davy-gray);
    --buttons: var(--gray);
    --color-scheme: dark;
    --obfuscate: 10, 10, 10, 0.4;
}

/* Slate Theme */
.slate {
    --font-color: var(--white);
    --background-primary: var(--xiketic);
    --background-secondary: var(--raisin-black);
    --background-ternary: var(--dark-purple);
    --buttons: var(--english-violet);
    --color-scheme: dark;
    --obfuscate: 10, 10, 10, 0.4;
}

/* Light Theme */
.light {
    --font-color: var(--black);
    --background-primary: var(--white);
    --background-secondary: var(--gainsboro);
    --background-ternary: var(--lightgray);
    --buttons: var(--silver);
    --color-scheme: light;
    --obfuscate: 255, 255, 255, 0.3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--font-color);
    text-decoration: none;
    background-color: transparent;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Spartan', sans-serif;
    font-size: var(--font);
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-primary);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-secondary) inset;
    box-shadow: 0 0 0px 1000px var(--background-secondary) inset;
    -webkit-text-fill-color: var(--font-color);
}