:root {
    /* Dimensions */
    --vw: 100vw;
    --vh: 100vh;

    /* SVG */
    --svg: 25px;
    --svg-margin: 12.5px;

    /* Font Properties */
    --font: 16px;
        
    /* Colors */
    --black:        hsl(0, 0%, 0%);
    --black-1:      hsl(0, 0%, 10%);
    --jet:          hsl(0, 0%, 20%);
    --davy-gray:    hsl(0, 0%, 30%);
    --dim-gray:     hsl(0, 0%, 40%);
    --gray:         hsl(0, 0%, 50%);
    --spanish-gray: hsl(0, 0%, 60%);
    --silver:       hsl(0, 0%, 70%);
    --lightgray:    hsl(0, 0%, 80%);
    --gainsboro:    hsl(0, 0%, 90%);
    --white:        hsl(0, 0%, 100%);

    --orange:       hsl(10, 100%, 60%);
    
    /* Background Colors */
    --background-primary: hsl(260, 20%, 10%);
    --background-secondary: hsl(260, 20%, 12.5%);
    
    /* Transitions */
    --speed-200ms: 200ms;
    --speed-400ms: 400ms;
    --speed-600ms: 600ms;  
}

/* Dark Theme */

.dark {
    /* Font Properties */
    --text: var(--white);

    /* Backgrounds */
    --background: var(--darkgrey);
    --overlay1: rgba(255, 255, 255, 0.05);
    --overlay2: rgba(255, 255, 255, 0.07);
    --overlay3: rgba(255, 255, 255, 0.08);
    --overlay4: rgba(255, 255, 255, 0.09);
    --overlay5: rgba(255, 255, 255, 0.11);
    --overlay6: rgba(255, 255, 255, 0.12);
    --overlay7: rgba(255, 255, 255, 0.14);
    --overlay8: rgba(255, 255, 255, 0.15);
    --overlay9: rgba(255, 255, 255, 0.16);

    /* Shadows */
    --shadow: transparent;
}

/* Light Theme */


* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    text-decoration: none;
    background-color: transparent;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Spartan', sans-serif;
    font-size: var(--font);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-primary);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

button {
    cursor: pointer;
}

header {
    height: 70px;
}