@media screen and (orientation: landscape) {
    div[title="Profile_Box"] {
        display: none;
        padding: 24px;
        width: calc(140px + 2 * 24px);
        height: calc(85px + 2 * 24px);
        border-radius: 4px;
        background-color: var(--background-ternary);
        position: absolute;
        right: 1rem;
        top: 60px;
        box-shadow: 3px 3px 5px 1px black, -3px -3px 5px 1px black;
    }

    div[title="Profile_Box"] svg {
        margin: 7.5px;
    }

    div[title="Profile_Box"]>span {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 5px;
    }

    span[title="Settings/Theme"]>div {
        width: 140px;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 4px;
        cursor: pointer;
        background-color: var(--buttons);
    }

    span[title="Settings/Theme"]>div:last-of-type {
        position: relative;
    }

    span[title="Settings/Theme"]>div:hover {
        background-color: var(--buttons);
    }

    span[title="Settings/Theme"] legend {
        margin: auto 0px auto 0px;
    }

    span[title="Login/Register"] {
        display: flex;
        flex-direction: row;
    }

    span[title="Login/Register"]>a {
        width: 140px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 0.5rem;
    }
}