@media screen and (orientation: landscape) {
    div[title="Profile_Box"] {
        display: none;
        padding: 24px;
        width: calc(290px + 2 * 24px);
        height: calc(100px + 2 * 24px);
        border-radius: 4px;
        background-color: var(--background-secondary);
        position: absolute;
        right: 20px;
        top: 70px;
    }

    div[title="Profile_Box"] svg {
        margin: 7.5px;
    }

    div[title="Profile_Box"]>span {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


    span[title="Settings/Theme"]>div {
        width: 140px;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 4px;
        cursor: pointer;
    }

    span[title="Settings/Theme"]>div:last-of-type {
        position: relative;
    }

    span[title="Settings/Theme"]>div:hover {
        background-color: var(--buttons);
    }

    span[title="Settings/Theme"] legend {
        margin: auto 0px auto 0px;
    }

    span[title="Login/Register"] {
        margin-top: calc(100px - 40px - 50px);
    }

    div[title="Settings"] {
        margin-right: 5px;
    }

    div[title="Theme"] {
        margin-left: 5px;
    }

    span[title="Login/Register"]>a {
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
    }

    a[title="Login"] {
        background-color: var(--accent);
        margin-right: 5px;
    }

    a[title="Register"] {
        background-color: var(--buttons);
        margin-left: 5px;
    }
}