@media screen and (orientation: landscape) {
    #Theme_Box {
        display: none;
        padding: 24px;
        width: calc(290px + 2 * 24px);
        border-radius: 4px;
        background-color: var(--background-ternary);
        position: absolute;
        right: 1rem;
        top: calc(60px + 40px + 2 * 24px + 5px);
        box-shadow: 3px 3px 5px 1px black, -3px -3px 5px 1px black;
    }

    div[title="Return"] {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    div[title="Return"]>button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    div[title="Return"]>button>svg {
        margin: var(--svg-margin);
    }

    div[title="Return"]:hover>button {
        background-color: var(--buttons);
    }

    div[title="Return"]>legend {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: auto;
    }

    div[id="Theme_Field"] {
        padding-top: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    div[id="Theme_Field"]>div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 50px;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    div[id="Theme_Field"]>div:hover {
        background-color: var(--buttons);
    }

    div[id="Theme_Field"]>div>legend {
        height: 20px;
        margin: 15px auto 15px 1rem;
    }

    div[id="Accent_Field"] {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 50px;
        scrollbar-color: var(--accent) var(--background-secondary);
        scrollbar-width: thin;
    }

    div[id="Accent_Field"]::-webkit-scrollbar {
        height: calc(1rem / 4);
        -webkit-border-radius: calc(1rem / 8);
        border-radius: calc(1rem / 8);
    }

    div[id="Accent_Field"]::-webkit-scrollbar-button {
        display: none;
    }

    div[id="Accent_Field"]::-webkit-scrollbar-track-piece {
        background-color: var(--buttons);
    }

    div[id="Accent_Field"]::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        -webkit-border-radius: calc(1rem / 8);
        border-radius: calc(1rem / 8);
    }

    div[id="Accent_Field"]>input {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;

        min-width: 25px;
        height: 25px;
        margin: 12.5px;
    }

    div[id="Accent_Field"]>input:checked {
        border: var(--buttons) 4px solid;
        min-width: 31px;
        height: 31px;
        margin: 9.5px;
    }

    div[id="Accent_Field"]>input[value="red"] {
        background-color: var(--red);
    }

    div[id="Accent_Field"]>input[value="orange-soda"] {
        background-color: var(--orange-soda);
    }

    div[id="Accent_Field"]>input[value="amber-yellow"] {
        background-color: var(--amber-yellow);
    }

    div[id="Accent_Field"]>input[value="lincoln-green"] {
        background-color: var(--lincoln-green);
    }

    div[id="Accent_Field"]>input[value="pacific-blue"] {
        background-color: var(--pacific-blue);
    }

    div[id="Accent_Field"]>input[value="blue"] {
        background-color: var(--blue);
    }

    div[id="Accent_Field"]>input[value="tyrian-purple"] {
        background-color: var(--tyrian-purple);
    }

    div[id="Accent_Field"]>input[value="red-purple"] {
        background-color: var(--red-purple);
    }
}